<div class="list">

  @if (stats$ | async; as stats) {
  <p class="app-stats">
    Depuis le 26 janvier 2019, <em>{{stats.userCount}} utilisateurs</em> ont cité <em>{{stats.authorCount}}
      personnes</em> pour un total de <em>{{stats.quoteCount}} citations</em>.
  </p>
  }

  <h2>Hall of Blame</h2>
  @for (user of (hallOfBlame$ | async); track user.user) {
  <div class="item">
    <span class="name">{{$index + 1}}. {{user.user}}</span>
    <span class="count">{{user.count}} <span class="secondary">citations</span></span>
  </div>
  }

  <h2>Les plus cité(e)s</h2>
  @for (user of (hallOfBlamed$ | async); track user.user) {
  <div class="item">
    <span class="name">{{$index + 1}}. {{user.user}}</span>
    <span class="count"><span class="secondary">cité(e)</span> {{user.count}} <span class="secondary">fois</span></span>
  </div>
  }
</div>
