\:host
    display: flex
    justify-content: center

    div.list
        margin-top: 1.5rem
        max-width: 100%
        width: 60ch
        padding: 1rem

        h2
            color: var(--primary-light)
            margin-top: 2.5rem

        .app-stats
            color: var(--primary)
            font-size: 1.25rem
            max-width: 100%

            em
                font-weight: bold

        div.item
            margin-bottom: 1rem
            display: flex
            justify-content: space-between
            align-items: baseline
            flex-wrap: wrap

            span
                color: var(--primary)

                &.name
                    font-size: 2em
                    font-family: 'Arvo', serif

                &.count
                    font-size: 1.5em

            span.secondary
                color: var(--primary-light)
                font-size: 1em

            &:nth-of-type(1),
            &:nth-of-type(11)
                span
                    &.name
                        font-size: 3.5em

                    &.count
                        font-size: 2em

            &:nth-of-type(2),
            &:nth-of-type(12)
                span
                    &.name
                        font-size: 3em

                    &.count
                        font-size: 1.75em

            &:nth-of-type(3),
            &:nth-of-type(13)
                span
                    &.name
                        font-size: 2.5em

                    &.count
                        font-size: 1.5em
    @media screen and ( max-width: 720px )
        div.list div.item span
            width: 100vw
