@if (!loading && list.length === 0) {
  <llama-quote-page [quoteObservable]="noResultQuote$"></llama-quote-page>
} @else {
  <llama-quote-page [quotes]="list" (loadQuotes)="search()"></llama-quote-page>
}


