<h3 mat-dialog-title>Créer un utilisateur</h3>

<div mat-dialog-content>
  <form class="dialog-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input formControlName="username" type="text" matInput placeholder="Nom d'utilisateur" required>
      @if (submitted && createForm.get('username').invalid) {
      <mat-error>Champ requis</mat-error>
      }
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" [disabled]="loading">Créer</button>
  </form>
</div>
