section
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

    .list
        display: flex
        flex-direction: column
        align-items: flex-start

        .list-item:not(:last-child)
            margin-bottom: 1.5rem

    div.actions
        margin-top: 1rem
