<section>
  @if (quoteObservable(); as observable) {
  <llama-quote [quoteObservable]="observable"></llama-quote>
  } @else {
  <div class="list" infiniteScroll (scrolled)="loadQuotes.emit()" infiniteScrollContainer=".container"
    [fromRoot]="true">
    @for (quote of quotes(); track quote.id) {
    <div class="list-item">
      <llama-quote [quote]="quote" variant="condensed"></llama-quote>
    </div>
    } @empty {
    <llama-quote variant="condensed"></llama-quote>
    }
  </div>
  }

  <div class="actions">
    <ng-content></ng-content>
  </div>
</section>
