.container
    height: 100vh
    overflow-y: auto

    header
        position: sticky
        top: 0
        z-index: 9
        display: flex
        justify-content: center
        align-items: flex-start
        height: 300px
        max-height: 50vh
        padding-top: 1rem
        margin-bottom: 1rem
        pointer-events: none

        #logo
            box-sizing: content-box
            height: 300px
            width: 150px
            max-height: 50vh
            pointer-events: auto

    main
        padding-bottom: 48px
