.fab-container
  position: fixed
  bottom: 16px
  right: 16px
  z-index: 100
  display: flex
  flex-direction: column-reverse
  align-items: center

  > div
    display: flex
    flex-direction: column-reverse
    align-items: center
    margin-bottom: 8px

    button
      margin-bottom: 16px

.fab-toggler
  float: right
  z-index: 100

.burger
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 1

  .line
    background: rgba(0,0,0,.87)
    width: 14px
    height: 2px
    z-index: 1
    margin: 1px
    transition: all .3s ease-in-out

.cross span
  &:first-child
    z-index: 3
    transform: rotate(-45deg)
    transform-origin: 70% 100%

  &:nth-child(2)
    width: 0px
    height: 0px
    z-index: 0

  &:last-child
    transform: rotate(45deg)
    transform-origin: 85% -10%
    z-index: 3
