button
    color: var(--primary)

a
    color: var(--primary-light)
    display: flex
    align-items: center

svg
    height: 24px
    width: 24px
    fill: var(--primary-light)
    margin-right: 8px

.mobile
    display: initial

.desktop
    display: none

@media screen and ( min-width: 720px )
    .mobile
        display: none

    .desktop
        display: initial
