<h3 mat-dialog-title>Rechercher</h3>

<div mat-dialog-content>
  <form class="dialog-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input type="text" placeholder="Auteur" aria-label="Auteur" matInput formControlName="author"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
        @for (option of filteredOptions | async; track option.id) {
        <mat-option [value]="option">
          {{option.name}}
        </mat-option>
        }
      </mat-autocomplete>
      @if (submitted && searchForm.get('author').invalid) {
      <mat-error>Personne inconnue</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input formControlName="term" type="text" matInput placeholder="Recherche">
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">Chercher</button>
  </form>
</div>
