@if (quote() || (quoteObservable() | async); as quote) {
<section [class.condensed]="variant() === 'condensed'">
  <a [routerLink]="['/quote/' + quote.id]">
    <blockquote>
      {{ quote.text }}
    </blockquote>
  </a>
  <a [routerLink]="['/search']" [queryParams]="{author: quote.author.id}">
    <cite>
      {{ quote.author?.name }}
    </cite>
  </a>
</section>
} @else {
<section [class.condensed]="variant() === 'condensed'" class="skeleton">
  <blockquote>Lorem ipsum, dolor sit amet</blockquote>
  <cite>Lorem ipsum</cite>
</section>
}
