section
    &.condensed
        blockquote
            font-size: 2rem

            &::before
                height: 1em
                width: 1.5em
                left: -1.5em
                top: -.5em
        cite
            font-size: 1.25rem

    a
        text-decoration: none

    blockquote
        font-family: 'Arvo', serif
        margin: 0
        color: var(--primary)
        font-size: 2.5rem
        position: relative
        z-index: 1
        quotes: none
        font-weight: 400
        max-width: 60vw

        &::before
            font-family: sans-serif
            content: ''
            display: block
            height: 1.5em
            width: 2.25em
            position: absolute
            z-index: -10
            background: no-repeat url("data:image/svg+xml;utf8,<svg viewBox='0 0 36 24' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;fill:hsl(203, 34%, 32%)'><path d='M27.599 16.821c4.637 0 8.401-3.769 8.401-8.411C36 3.769 32.236 0 27.599 0c-4.636 0-8.4 3.769-8.4 8.41v.061c.046 6.737 7.773 15.408 7.773 15.408a.36.36 0 0 0 .627-.238v-6.82zm-19.198 0c4.636 0 8.4-3.769 8.4-8.411 0-4.641-3.764-8.41-8.4-8.41C3.764 0 0 3.769 0 8.41v.061c.047 6.737 7.774 15.408 7.774 15.408a.36.36 0 0 0 .627-.238v-6.82z'/></svg>")
            left: -2.5em
            top: -1em

    @media screen and ( max-width: 720px )
        blockquote
            max-width: 90vw

            &::before
                display: none

    cite
        font-size: 1.5rem
        color: var(--primary-light)
        font-weight: 600
        display: inline-grid
        place-content: center
        min-height: 48px

.skeleton
    blockquote, cite
        opacity: .3
        background: #E2E2E2
        background-image: linear-gradient(to right, #E2E2E2 0%, #FFFFFF 10%, #E2E2E2 20%)
        background-repeat: no-repeat
        color: transparent

    blockquote
        animation: loading-quote 2s infinite ease-in-out

        &::before
            top: calc(.35em - 40px)

    cite
        animation: loading-cite 2s infinite ease-in-out

@keyframes loading-quote
    0%
        background-position: -30vw

    100%
        background-position: 60vw

@keyframes loading-cite
    0%
        background-position: -100px

    100%
        background-position: 200px
