@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('/assets/fonts/arvo-v14-latin-regular.woff2') format('woff2'), url('/assets/fonts/arvo-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/assets/fonts/inter-v8-latin-regular.woff2') format('woff2'),
       url('/assets/fonts/inter-v8-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('/assets/fonts/inter-v8-latin-600.woff2') format('woff2'),
       url('/assets/fonts/inter-v8-latin-600.woff') format('woff');
}
