@import '_fonts'

*
  font-family: "Inter", sans-serif

*,
::after,
::before
  box-sizing: border-box

html
  --primary: hsl(204, 74%, 16%)
  --primary-light: hsl(203, 34%, 32%)

html,
body
  padding: 0
  margin: 0
  height: 100vh
  width: 100vw
  overflow: hidden

body:after
  content: ""
  position: fixed
  background-image: url("/assets/bg.webp")
  background-position: top
  background-repeat: no-repeat
  background-size: cover
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: -1
  opacity: .5

.dialog-form
  display: flex
  flex-direction: column
  justify-content: center

  button[type="submit"]
    margin-top: 16px

.snackbar-error
  --mdc-snackbar-container-color: var(--warn-color)
  --mat-snack-bar-button-color: white

.snackbar-info
  --mdc-snackbar-container-color: var(--theme-color)
  --mat-snack-bar-button-color: white

.snackbar-success
  --mdc-snackbar-container-color: var(--success-color)
  --mat-snack-bar-button-color: white
