@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-blue-palette, 700);
$accent: mat.m2-define-palette(mat.$m2-orange-palette, 700);
$warn: mat.m2-define-palette(mat.$m2-red-palette);
$success: mat.m2-define-palette(mat.$m2-green-palette);

$llama-theme: mat.m2-define-light-theme((
    color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    )
));

@include mat.all-component-themes($llama-theme);

html {
    --theme-color: #{mat.m2-get-color-from-palette($primary, 500)};
    --accent-color: #{mat.m2-get-color-from-palette($accent, 500)};
    --warn-color: #{mat.m2-get-color-from-palette($warn, 500)};
    --success-color: #{mat.m2-get-color-from-palette($success, 500)};
}
